<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1_SnapShot_1566316752652"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.0.108"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="8"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="max_seen_signed_by_receiver, max_seen_signed_by_sender, exit_cancelled, curr_value_to_chain, num_sends_and_receives, max_signed_by_receiver, message, curr_nonce_to_chain, pc, max_signed_by_sender, curr_time"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="0Termination"/>
        <listEntry value="1CancelledOrFair"/>
    </listAttribute>
    <stringAttribute key="modelExpressionEval" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="MaxSendsAndReceives;;5;0;0"/>
        <listEntry value="Timeout;;5;0;0"/>
        <listEntry value="Deposit;;5;0;0"/>
    </listAttribute>
    <intAttribute key="numberOfWorkers" value="8"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="BidirectionalPayment"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
